# Dependencias y temporales
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Archivos de entorno y SO
.DS_Store
Thumbs.db
desktop.ini

# Editores de código e IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Scripts temporales de generación local
generate_icons.ps1
push_to_github.bat
